{% load static %}
  <!-- Site footer -->

    <footer class="site-footer">
<link href="{{ STATIC_DIR }}/static/footer.css" rel="stylesheet" type="text/css"/>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="contact-details">
                    <h4>Contacte-nos</h4>
                    <ul class="contact">
                        <li><p><strong>Morada:</strong>
                                <br>Edif. Escola Superior Tecnologias e Gestão<br>
                                Rua Pedro Soares, 7800-295 Beja, Portugal
                                <br><br>
                                Avenida D. João II, n. 50, Edif. Mar Vermelho<br>
                                Parque das Nações, 1990-095 Lisboa, Portugal</p></li>
                        <li><p><i class="fa fa-phone"></i> <strong>Telefone:</strong> (351) 216 079 390</p></li>
                        <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:info@sparkint.pt">info@sparkint.pt</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Politica de Segurança do site iTwitter</h5>

        <ul class="list-unstyled">
          <li>
            <a href="static/Política Privacidade.pdf" target="_blank">Politica de Privacidade</a>
          </li>
          <li>
            <a href="static/Termos de uso.pdf" target="_blank">Termos de Uso</a>
          </li>
        </ul>

      </div>
        </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> iTwitter</a>
  </div>
  <!-- Copyright -->
    </div>
    </footer>