{% extends 'register/login.html' %}

    {% block form-selected %}
    <div class="card text-center mx-auto mt-3 w-50">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="mt-3" method="POST">
                            {{ create_account_form.as_p }}
                            {% csrf_token %}
                            {{ form.password.errors }}
                            <button class="btn btn-primary mt-3">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
