# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ASUS\Desktop\Twitter_Tracker-afb4802ff84cced56c5d1f6b5d0d96d4a587ed9c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
